@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*::after,
*::before,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  @apply text-2xl;
  @apply font-bold;

}

input {
  @apply border border-gray-500;
}

