@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*::after,
*::before,


/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
  margin: 0 2px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background: white !important;
}

::-webkit-scrollbar-thumb {
  background: #7589A3 !important;;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}